# Dependencias
node_modules/

# Variables de entorno
.env
api_keys.txt

# Archivos subidos por usuarios
src/public/uploads/avatars/*
src/public/uploads/covers/*
!src/public/uploads/avatars/.gitkeep
!src/public/uploads/covers/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
